<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackgroundProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BackgroundProcess.Properties.Settings>
            <setting name="IsUnicodeUsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTypeCancelOnWindowChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTypeCancelOnTitleChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTypeAllowInterleaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTypeReleaseAltWithKeyPress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTypeAdjustKeyboardLayout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTypeInterKeyDelay" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UseClipboardViewerIgnoreFormat" serializeAs="String">
                <value>False</value>
            </setting>
        </BackgroundProcess.Properties.Settings>
    </userSettings>
</configuration>